<!DOCTYPE html>
<html>
	<head>
		<title>Connection</title>
	</head>


	<body>

		<h1> Connectez-vous :D </h1>

		<form action= "/login" method = "post">
		  Pseudo:<br>
		  <input type="text" name="pseudo" placeholder = "Votre pseudo"><br>
		  Mot de passe:<br>
		  <input type="password" name="mot_de_passe" placeholder = "password"><br><br>
		  <input type="submit" value="Connection">
		</form>


	</body>
</html>
