<!DOCTYPE html>
<html>
	<head>
		<title>Bienvenue sur Easycar</title>
	</head>


	<body>

		<h1>Welcome to EasyCar</h1>
		<a href="/connexion"> Connexion</a>
		<a href="/inscription_statut"> Inscription </a>

	</body>
</html>
