<!DOCTYPE html>
<html>
	<head>
		<title>Inscription</title>
	</head>


	<body>

		<h1> Choissisez-votre statut :D </h1>

		<form action= "/statut" method = "post">
		  Souhaitez-vous vous inscrire en tant que :<br>
		  <input type="radio" name="role" value = "Client"> Client <br>
		  <input type="radio" name="role" value = "Chauffeur"> Chauffeur<br>
		  <input type="submit" placeholder="Envoyer"></button>
		</form>


	</body>
</html>
