<html>
	<head>
		<title>Bienvenue sur Easycar</title>
	</head>

  Bienvenue sur Easycar <%= login %>
	<br><br>
	<a href='/deconnexion'>Deconnexion</a>
	<a href='/gestion'>Gerez vos courses</a>
	<a href='/historique'>Voir l'historique des courses</a>
