<html>
	<head>
		<title>Bienvenue sur Easycar</title>
	</head>

  Bienvenue sur Easycar <%= login %>
	<br><br>
	<a href='/deconnexion'>Deconnexion</a>
	<a href='/type_reservation'>Reserver une course</a>
